# Data Preprocessing

500 prompts representative of full dataset

In [ ]:
import pandas as pd
import numpy as np

In [5]:
file = "/data/lucasjia/data/nutribench_v2_from_laya.csv"
nb_df = pd.read_csv(file)
print(nb_df.head())
print(nb_df.info())

                                         description  \
0  ['bread,bun,plain', 'sugar,white,raw (zambia s...
1  ['groundnuts,in-shell,fresh,boiled', 'sweetpot...
2  ['* fish,kasepa(type 6),dried,raw *boiled*', '...
3  ['* maize flour,white variety,roller meal (unr...
4  ['* maize flour,white variety,roller meal (unr...

                                     carb  \
0                            [63.8, 27.0]
1                            [36.4, 61.4]
2             [0.0, 26.1, 0.3, 0.4, 24.4]
3  [39.2, 0.5, 0.7, 8.7, 8.4, 35.5, 70.8]
4              [80.7, 0.1, 0.1, 0.2, 0.0]

                                   fat                          energy  \
0                           [4.2, 0.0]                      [335, 104]
1                          [37.6, 0.2]                      [544, 262]
2           [1.9, 1.3, 0.0, 0.0, 11.0]            [33, 123, 1, 2, 204]
3  [2.0, 0.0, 0.0, 6.4, 0.1, 0.1, 0.3]  [184, 2, 3, 116, 33, 152, 302]
4            [4.1, 0.0, 0.0, 0.0, 0.5]               [379, 0, 1, 1, 9]

                               protein country amount_type  \
0                           [9.6, 0.0]     ZMB      metric
1                          [23.1, 4.8]     ZMB      metric
2            [3.8, 2.3, 0.0, 0.1, 2.5]     ZMB      metric
3  [3.5, 0.1, 0.2, 6.2, 0.6, 2.8, 5.6]     ZMB      metric
4            [7.2, 0.0, 0.2, 0.0, 1.0]     ZMB      metric

                                             queries
0  For breakfast, I ate a plain bun weighing 126 ...
1  For lunch, I had 171 grams of boiled fresh gro...
2  Iâ€™ve got 9 grams of boiled kasepa fish, 34 gra...
3  I had a breakfast consisting of 51g of raw whi...
4  For dinner, I had 105g of raw maize flour alon...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15631 entries, 0 to 15630
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  15631 non-null  object
 1   carb         15631 non-null  object
 2   fat          15631 non-null  object
 3   energy       15631 non-null  object
 4   protein      15631 non-null  object
 5   country      15631 non-null  object
 6   amount_type  15631 non-null  object
 7   queries      15631 non-null  object
dtypes: object(8)
memory usage: 977.1+ KB
None

In [16]:
countries = nb_df["country"].unique()
country_counts = np.array(nb_df["country"].value_counts().to_list())
print(countries)
print(len(countries))
print(country_counts)
print(nb_df["country"].value_counts())

country_subsets = (country_counts * 500) // 15631
print(country_subsets)

['ZMB' 'ITA' 'PER' 'LKA' 'ROU' 'KNA' 'TUN' 'PAK' 'PHL' 'BRA' 'ETH' 'GTM'
 'STP' 'MYS' 'ARG' 'CRI' 'IND' 'COD' 'LAO' 'BGR' 'USA' 'MEX' 'KEN' 'BFA']
24
[11072   200   200   200   200   200   200   200   200   200   200   200
   200   200   200   200   200   200   200   200   200   200   200   159]
country
USA    11072
ZMB      200
PER      200
ITA      200
ROU      200
KNA      200
TUN      200
LKA      200
PAK      200
PHL      200
ETH      200
BRA      200
MYS      200
ARG      200
CRI      200
GTM      200
BGR      200
IND      200
LAO      200
COD      200
KEN      200
MEX      200
BFA      200
STP      159
Name: count, dtype: int64
[354   6   6   6   6   6   6   6   6   6   6   6   6   6   6   6   6   6
   6   6   6   6   6   5]

USA: 300, other countries: 6

In [24]:
usa_subset = nb_df[nb_df["country"] =="USA"].head(300)
other_subset = nb_df[nb_df["country"] != "USA"].groupby("country").head(6)
# print(usa_subset)
# print(other_subset)
nb_subset = pd.concat([usa_subset, other_subset]).reset_index(drop=True)
print(nb_subset["country"].value_counts())
nb_subset.to_csv("/data/lucasjia/projects/nutri/src/multi-nutrient/nb_v2_sub_laya.csv", index=False)

country
USA    300
ZMB      6
ITA      6
PER      6
LKA      6
ROU      6
KNA      6
TUN      6
PAK      6
PHL      6
BRA      6
ETH      6
GTM      6
STP      6
MYS      6
ARG      6
CRI      6
IND      6
COD      6
LAO      6
BGR      6
MEX      6
KEN      6
BFA      6
Name: count, dtype: int64